#resume {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url('../images/resume-bg.jpg') no-repeat center
      center/cover;

  .work,
  .studies {
    margin: auto;
    max-width: 1600px;
  }

  .resume-item {
    span {
      font-size: 1.4rem;
      font-weight: lighter;
    }
  }
}

