.header-content {
  @include flex(row);
  align-items: center;
  height: 80px;
  justify-content: center;
  padding: 0 30px;
  position: fixed;
  top: 0px;
  transition: 0.5s ease-in;
  width: 100%;

  .social {
    position: absolute;
    right: 20px;

    @include maxWidth(812px) {
      left: 20px;
    }
  }

  @include maxWidth(900px) {
    @include flex();
    height: 120px;
    padding: $padding-div;
  }

  @include maxWidth(812px) {
    flex-direction: row;
    height: 70px;
  }
}
