/* Write 'inline' media queries */
@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

/* Flexbox */
@mixin flex($dir: column, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}
