a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: darken($color-light, 30%) !important;
  }
}

h1 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 5.8rem;
}

h2 {
  font-weight: 400;
  line-height: 4.2rem;
  font-size: 4rem;
  font-family: 'poppins', 'sans-serif';
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 3.2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.8rem;
}

p {
  margin: 10px 0;
  font-size: $font-M;
  font-weight: lighter;
}

.centered-heading {
  text-align: center;
}

/* Line under headings */
.divider {
  border: 1px solid #cecbcb;
  margin: 5px auto 25px;
  width: 120px;
}
