/* Color scheme */
$darkblue: #121d23;
$offwhite: #f7f7f7;
$black: #272727;

/* Background colors */
$bg-light: $offwhite;
$bg-dark: $darkblue;

/* Standardized padding */
$padding-div: 20px;
$padding-section: 50px 20px;

/* Font fams */
$font-main: 'Quicksand', sans-serif;
$font-logo: 'Times New Roman', serif;

/* Font colors */
$color-dark: $black;
$color-light: $offwhite;

/* Font sizing */
$font-M: 1.6rem;

/* Font colors */
$color-dark: $black;
$color-light: $offwhite;
